.custom-go-to-cart {
    position : relative;
    margin-top : 100px;
    width : 500px;
    left : 35%;
}
.custom-form{
    text-align: left;
    margin-top: 100px;
    margin-left : 30%;
    padding : 15px;
    width : 700px;
    border : solid black 2px;
}

.custom-btn{
    width : 100%;
    height : 40px;
    background-color: red;
    color : white;
    border-radius: 5px;
    border-color: black;
}

.custom-heading{
    text-align: center;
    color :green;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.edit-btn {
    padding-left : 20px;
    text-decoration: none;
    color : blue;
    font-size: 20px;
}
.custom-add-new-btn {
    margin-top  : 20px;
    width : 100%;
}
.custom-grp {
    margin-top : 20px;
}