
.custom-color{
  background-color: #FF0060;
  border :solid green 1px;
}
.custom-button{
  background-color: green;
  border-radius: 5px;
  width : 100px;
  border :solid green 1px;
  box-shadow: green;
}
.custom-nav-link{
  color : white;
  text-decoration: none; 
  margin : 20px;
  padding-top : 40px;
}
.custom-nav-link:active{
  color : black;
}
#nav-shivadhesh-text{
  color : #F6FA70;
  padding-top : 10px;
}
.custom-search{
  margin : 20px 0px 20px 20px;
}

#home-product-imag{
  height : 200px;
  width : 200px;
  border-radius: 5px;;
}
#product{
  display: inline-block;
  margin : 20px;
  border : black 1px solid;
  padding : 20px;
}
#imag-desc{
  text-align: center;
}