.img{
    width : 500px;
    height : 500px;
}
.order-form-element{
    margin : 10px;
    margin-left : 0px;
}

.product-custom-image {
    width : 250px;
    height : 250px;
    display: inline;
}
.product-custom-div {
    margin : 50px;
    width : 100rem;
}
.custom-qty {
    margin : 10px;
}
.custom-dropdown {
    margin : 10px;
    background-color: green;
    width : 160px;
    color : white;
    position : relative;
    left : -10px;
}
.custom-checkout{
    width : 200px;
    margin-left : 50px;
    margin-top : 50px; 
}
